:root {
  --font-sm: 14px;
  --font-md: 25px;
}

body {
  font-family: "Raleway", sans-serif;
}

button {
  border: none;
  background: transparent;
  font-weight: 300;
}

.rule {
  background-color: black;
  opacity: 0.25;
  size: 1px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: var(--font-sm);
  margin-bottom: 0;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  color: #f37041;
}

.App {
  position: absolute;
  top: 40px;
  width: 380px;
  background: linear-gradient(
    150deg,
    rgb(253, 136, 181) 10%,
    rgb(252, 227, 213) 80%
  );
  border: 1px solid rgb(247, 206, 243);
  border-radius: 25px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  min-height: 840px;
  max-height: 840px;
}
