.ExtraDatas {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .HighLow {
    margin-right: 100px;
    margin-top: 15px;
  }
  
  .HumidityWind {
    margin-top: 15px;
  }
  