.ForecastDay {
  text-transform: uppercase;
}

.ForecastIcon {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 10px;
  width: 28px;
}

.ForecastHighLow {
  font-size: var(--font-sm);
  margin-top: 5px;
}
