div .Search {
  width: 340px;
}

form {
  -webkit-appearance: none !important;
  width: 250px;
}

input {
  -webkit-appearance: none;
  border: none;
  border-width: 0;
  border-bottom: 1px;
  border-color: none;
  background: transparent;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 10px;
}

.CityName {
  position: relative;
  top: 15px;
  padding: 30px 0 15px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 200;
}

.DayTemp {
  position: relative;
  top: 10px;
  font-size: 90px;
  font-weight: 700;
}

.celsiusFahrenheit {
  font-size: 25px;
  font-weight: 300;
  text-align: right;
  position: relative;
  top: 95px;
}

.celsiusFahrenheit,
.active {
  font-weight: 700;
}

.WeatherDescription {
  font-size: 25px;
  font-weight: 300;
  margin-top: 3px;
}

.ExtraDatas {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.HighLow {
  margin-right: 100px;
  margin-top: 15px;
}

.HumidityWind {
  margin-top: 15px;
}
