button {
  font-size: 25px;
  color: black;
}

.celsiusFahrenheit p {
  text-align: right;
}

.celsiusFahrenheit {
  font-weight: 100;
  position: relative;
  top: 95px;
}

.celsiusFahrenheit,
.active {
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  button {
    padding: 5px;
  }
}
